*{
    padding:0 ;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
.container{
    background-color: #111;
    overflow: hidden;
}
.salute{
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.saluteTextcontainer{
    flex: 3;
}
.saluteImgcontainer{
    flex: 1;
}
.saluteText{
    color: #333;
    font-size: 60vw;
    cursor: default;
}
.saluteImg{
   width: 100%; 
}
.namecontainer{
    background-color: rebeccapurple;
    height: 100vh;
}
.name{
    font-size: 15vw;
    color: #333;
    cursor: default;
    text-align: center;
    line-height: 100vh;
}
.jobtitlecontainer {
    height: 100vh;
}
.dark{
   background: url("./bg1.png"); 
}
.purple{
    background: rebeccapurple url("./bg2.png"); 
 }
 .jobtitle{
    font-size: 10vw;
    color: #333;
    line-height: 100vh;
    cursor: default;
 }
 .projects{
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 0px 100px;
 }
 .projectstitle{
    font-size: 10vw;
    color: #333;

 }
 .project{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100vh;
    overflow: hidden;
 }
 .project:nth-child(2n){
    flex-direction: row-reverse;
 }
 .phone{
    width: 300px;
    height: 600px;
position: relative;
flex: 1;
 }
.screen{
width: 264px;
height: 567px;
position: absolute;
top: 17px;
left: 18px;
border-radius: 28px;
overflow: scroll;
}
.screen::-webkit-scrollbar{
    display: none;
}
.phoneApp{
    width: 100%;
   
}
.projectdetail{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;

align-items: center;
}
.projecttitle{
font-size: 7vw;
color: #555;

}
.desc{
    font-size: 20px;
    color: #555;
    text-align: justify;
    line-height: 40px;

}
.projectbutton{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
.projectbutton::after{
    content: "View Demo";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
background-color: #555;
color: #222;
}
.projectbutton:hover.projectbutton::after{
transform: translateX(100%);

}
.laptop{
    width: 600px;
    height: 379px;
    flex: 1;
    position: relative;
}
.lscreen{
position: absolute;
width: 451px;
height: 283px;
top: 18px;
left: 68px;
overflow: scroll;

}
.lscreen::-webkit-scrollbar{
    display: none;}

.laptopApp{
    width: 100%;
}
.github{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.githubtitle{
    font-size: 100px;
    color: #333;
}
.githubchart{
    width: 820px;
    text-align: center;
}
.dates{
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.boxcontainer{
    display: flex;
    flex-wrap:wrap ;
    gap: 5px;
}
.box{
    width: 15px;
    height: 15px;
border-radius: 2px ;
cursor: pointer;
background-color: #171c25;
transition: 2s all ease ;
}
.active:nth-child(4n){
   background-color: #195b2c;
}
.githubchart:hover .active:nth-child(2n+1){
    background-color: #195b2c;
}
.githubchart:hover .active:nth-child(2n){
    background-color: #063f24;
}
.githubsm{
    display: none;
}
@media screen and (max-width:1024px) {
    .projects{
        padding: 0px 30px;
        text-align: center;
    }
    .name{
        line-height: 80vh;
    }
    .project{
        flex-direction: column;
        height: max-content;
    }

    .project:nth-child(2n){
        flex-direction: column;
    }
    .phone, .laptop{
        transform: none !important;
    }
    .githubchart{
        display: none;
    }
    .githubtitle{
        text-align: center;
        font-size: 10vw;
    }
    .githubsm{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: #555;
        font-size: 30px;
        text-align: center;
    }
}
